.header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(223, 119, 119);
  height: 60px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.6s ease;
}
.header__link:hover {
  color: rgb(243, 232, 232);
  text-decoration: underline;
}
